.input {
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;

    &-primary {

    }

    &-secondary {

        border: 1px solid rgba(185, 185, 207, 0.5);
        background: rgb(255, 255, 255);
        height: 32px;
    
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 3px;
    border-radius: 5px;
    width: 100%;

}