.input {
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    height: 32px;
    margin-bottom: 30px;

    &:focus-visible {
        outline: none;
        border: 2px solid $primary-color;
    }


    &-primary {
        border: none;
        background-color: $secondary-color;
    }

    &-secondary {
        border: 1px solid $gray-border;
        background: white;
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 3px;
    border-radius: 5px;
    width: 100%;

}