.button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
    &-primary {
        border: 0.5px solid rgb(255, 255, 255);
        background: rgb(44, 44, 54);
        color: white;
    }

    &-secondary {
        
    }
}