.button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

    &:hover {
        background: $primary-color-hover;
    }
    
    &-primary {
        border: none;
        background: $primary-color;
        color: white;
    }

    &-secondary {
        
    }
}