.button {

    // display: flex;
    // justify-content: center;
    // align-items: center;
    
    &-primary {
        cursor: pointer;
        border: 0.5px solid rgb(255, 255, 255);
        border-radius: 5px;
        background: rgb(44, 44, 54);
        color: white;
        padding: 10px;
    }

    &-secondary {
        
    }
}