.signUpForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-radius: 5px;
    background: rgb(241, 245, 246);
    width: 100%;
}

.signUpFormContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    gap: 32px;

     @media(max-width: 576px) {
        min-width: 280px;
        max-width: 100%;
    }
    @media(max-width: 992px) {
        max-width: 450px;
    }
}

.signUpLogo {
    font-weight: 700;
    &-up {
        font-size: 36px;
    }
}

.signUpInputWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0px;

    @media(min-width: 768px) {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
}